<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Comment
  </h2>
  <form class="edit-comment-form">
    
    <div>
      <h4>Comment for the post {{this.title}}:</h4>
      <input name="comment-body" type="text" value="{{this.comment_text}}" />
    </div>
    
    <button class="btn" type="submit">Save Edits</button>
    <button class="btn delete-comment-btn" type="button">Delete Comment</button>
  </form>
</article>


<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>