<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-comment-form">
    
    <div>
      <h4>Comment for the post {{comment.post_id.title}}:</h4>
      <input name="comment-body" type="text" value="{{comment.comment_text}}" />
    </div>
    
    <button type="submit">Save Edits</button>
    <button type="button" class="delete-comment-btn">Delete Comment</button>
  </form>
</article>


<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>